/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

body {
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Example: Full viewport height */
}

.card {
    width: 400px;
    height: 600px;
    border: 1px solid red;
    border-radius: 20px;
}

